<footer class="pt-4 my-md-5 pt-md-5 border-top">
    
    
    <div class="row">
        <div class="col-12 col-md">
            <img src="/assets/img/yalovi1.png" alt="Logo" width="150px" class="img-footer">
        </div>

        <div class="col-md-3 mb-md-0 mb-4 border-left">
          <h2 class="footer-heading">Tienda</h2>
          <ul class="list-unstyled">
          <li><a href="#" class="py-1 d-block">Nosotros</a></li>
          <li><a href="#" class="py-1 d-block">Servicio al cliente</a></li>
          </ul>
          </div>

          <div class="col-md-3 mb-md-0 mb-4 border-left">
            <h2 class="footer-heading">Políticas</h2>
            <ul class="list-unstyled">
            <li><a href="#" class="py-1 d-block">Terminos y condiciones</a></li>
            <li><a href="#" class="py-1 d-block">Privacidad de datos</a></li>
            </ul>
            </div>

            <div class="col-md-3 mb-md-0 mb-4 border-left">
              <h2 class="footer-heading">Ubicanos  <i class="fas fa-map-marker-alt" aria-hidden="true"></i></h2>
              <ul class="list-unstyled">
              <li><a href="#" class="py-1 d-block">Tepozanes No 1522 Col barrio San Juan Tulyehualco Xochimilco CDMX</a></li>
              
              </ul>
              </div>

        
        <div class="container">

            <!--foote_bottom_ul_amrc ends here-->
            <p class="info">El sitio web Ya’Lo vi permite a sus usuarios adquirir diversos productos de manera confiable, segura y cómoda. A efecto de proporcionar a nuestros usuarios un servicio integral en los procesos de adquisición y/o compra a través de este sitio web, los usuarios deberán adherirse y aceptar completamente los términos y condiciones establecidos en las presentes Condiciones Generales de Venta, en caso de que dichos usuarios no estén de acuerdo en todo o en parte con lo estipulado en estas Condiciones Generales, deberán de abstenerse de adquirir y/o contratar los productos y servicios ofrecidos a través de este sitio web. Dada la importancia de lo anterior, se resalta el hecho de que la adquisición de productos a  través de este sitio web, implica la aceptación de las presentes condiciones generales.</p>          
    
            <!--social_footer_ul ends here-->
        </div>

    </div>
   

<div class="container">

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fab fa-dribbble"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class = "container">
    <p class="text-center">Copyright @2021 | Designed by <a>Antonio Lorenzana Fabio Enrique</a></p>
</div>
  <!-- Copyright -->

</footer>